.experience {
  padding: 2vw 6vw;
  background-color: #292929;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h1 {
      font-size: 5vw;
    }
  }
  h3 {
    text-align: center;
    font-size: 3vw;
    span {
      color: #4EE1A0;
    }
  }
}

.new-experience {
  background-color: #4EE1A0;
  color: #292929;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.slider-container {
  padding: 3vw 8VW;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.slider {
  display: flex;
  overflow-x: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3vw;
  transition: all .3s;
  color: white;
  border-radius: 5vw;
  padding: .2vw 1vw;
  &:hover {
    color: #4EE1A0;
  }
}

.prev {
  left: 4vw;
}

.prev::before {
  content: '';
  display: flex;
  width: 2vw;
  background-color: white;
  height: 2px;
  rotate: -45deg;
  margin-bottom: 1.2vw;
  transition: all .3s;
}

.prev::after {
  content: '';
  display: flex;
  width: 2vw;
  background-color: white;
  height: 2px;
  rotate: 45deg;
  transition: all .3s;
}

.prev:hover::before,
.prev:hover::after
{
  background-color: #4EE1A0;
}

.next {
  right: 4vw;
}

.next::before {
  content: '';
  display: flex;
  width: 2vw;
  background-color: white;
  height: 2px;
  rotate: -135deg;
  margin-bottom: 1.2vw;
  transition: all .3s;
}

.next::after {
  content: '';
  display: flex;
  width: 2vw;
  background-color: white;
  height: 2px;
  rotate: 135deg;
  transition: all .3s;
}

.next:hover::before,
.next:hover::after
{
  background-color: #4EE1A0;
}

.techs {
  padding: .5rem 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
  list-style: none;
  gap: .5rem;
}

@media screen and (max-width: 1080px) {
  .experience {
    padding: 5vw;
    .title {
      h1 {
        font-size: 7.5vw;
      }
    }
  }

  .prev {
    left: 2vw;
  }

  .next {
    right: 2vw;
  }

  .prev:before,
  .next:before {
    margin-bottom: 2.5vw;
  }

  .prev::before,
  .prev::after,
  .next::before,
  .next::after{
    width: 4vw;
  }
}
@media screen and (max-width: 680px) {
  .experience {
    padding: 5vw;
    h3 {
      text-align: center;
      font-size: 5vw
    }
  }

  .slider-container {
    padding: 3vw 4vw;
  }
  .prev {
    left: -1vw;
  }

  .next {
    right: -1vw;
  }

  .prev:before,
  .next:before {
    margin-bottom: 2.2vw;
  }

  .prev::before,
  .prev::after,
  .next::before,
  .next::after{
    width: 4vw;
  }

  .techs {
    font-size: 3.5vw;
  }
}